
<div class="container text-center sign_up_form_top">

<%= form_tag sessions_path do %>

  <div class="col-lg-12 form_div">
    <%= text_field :email, class: 'info_responsive-input', placeholder: 'Email'  %>
  </div>
  
  <div class="col-lg-12 form_div">
    <%= password_field :password,required: true, class: 'info_responsive-input', placeholder: 'Password' %>
  </div>

  <%= submit_tag "login", class: 'btn sign_up_form_submit' %>

<% end %>
  
</div>