<div class="zip_request">
        <input type="text" class="form-control" placeholder="enter zipcode" aria-label="enter zipcode here" aria-describedby="basic-addon2">
  
        <button class="send_zip" type="button">send</button>
</div>
  
<div class="zip_response">
  
</div>

</div class="state_request">
        <input type="send" class="form-control" placeholder="enter state abbreviation" aria-label="state abbreviation" aria-describedby="basic-addon2">
  
        <button class="send_abbr" type="button">send</button>
  
</div>


<div class="state_response">
  
</div>