<table class="table table-dark">
  <thead>
    <tr>
      <th scope="col">City</th>
      <th scope="col">ZipCode</th>
      <th scope="col">county</th>
    </tr>
  </thead>
  <tbody>
    <% @cities.each do |city| %>
		<tr>
	    
	      <td><%= city.name %></td>
	      <td><%= city.county %></td>
	      <td><%= city.ZipCode%></td>
    	</tr>
   
	<% end %>
  </tbody>
</table>